/* Write your CSS here */
.todoContainer {
  background-color: #ffc2a0;
  height: 100vh;
  padding: 15px;
}
.simpleTodoList {
  background-color: #ffffff;
  text-align: center;
  width: 60%;
  margin-left: 17vw;
}
.simpleHead {
  font-size: 30px;
  margin-top: 40px;
  color: #ffc2a0;
  font-weight: bold;
}
.button {
  background-color: transparent;
  color: #ff0b37;
  font-weight: bold;
  border-radius: 13px;
  padding: 8px;
  border: 2px solid #ff0b37;
}

.unorderList {
  margin-left: 10%;
  margin-right: 10%;
}
